In [39]:
# Just run this cell and see what it prints.  This is a preview of Tables!
Table().with_columns([
    "Item",                  [5.2    , 3.0     , 42     , -1.0    , 7.5    ],
    "Position (in English)", ["first", "second", "third", "fourth", "fifth"],
    "Index (in Python)",     [0      , 1       , 2      , 3       , 4      ]
    ])

Item | Position (in English) | Index (in Python)
5.2  | first                 | 0
3    | second                | 1
42   | third                 | 2
-1   | fourth                | 3
7.5  | fifth                 | 4

In [40]:
# Run this cell, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines load the tests.
from client.api.assignment import load_assignment 
lab03 = load_assignment('lab03.ok')

=====================================================================
Assignment: Lab 3
OK, version v1.5.1
=====================================================================

In [41]:
# Just run this cell and see what it prints.  This is a preview of Tables!
Table().with_columns([
    "Item",                  [5.2    , 3.0     , 42     , -1.0    , 7.5    ],
    "Position (in English)", ["first", "second", "third", "fourth", "fifth"],
    "Index (in Python)",     [0      , 1       , 2      , 3       , 4      ]
    ])

Item | Position (in English) | Index (in Python)
5.2  | first                 | 0
3    | second                | 1
42   | third                 | 2
-1   | fourth                | 3
7.5  | fifth                 | 4

In [42]:
email = Table().with_columns([
    "Item",                  [5.2    , 3.0     , 42     , -1.0    , 7.5    ],
    "text", ["first", "second", "HI", "Deee", "fifth"],
    "Index (in Python)",     [0      , 1       , 2      , 3       , 4      ]
    ])

In [43]:
for email_text in email.column("text"):
    if email_text == email.upper():
        print("Potential spam email: " + email_text)

AttributeError: 'Table' object has no attribute 'upper'

In [44]:
value = "Tree"
x = value.upper()
print(x)

TREE

In [45]:
email.column("text")

array(['first', 'second', 'HI', 'Deee', 'fifth'],
      dtype='<U6')

In [46]:
value = ["Tree","fc"]
type(value)

list

In [ ]:
list(email.column("text"))

In [ ]:
a = list(email.column("text"))
type(a)

In [ ]:
value = ["Tree","fc"]

In [ ]:
for

In [ ]:
2+2

In [ ]:
for email_text in email.column("text"):

In [ ]:
for email_text in email.column("text"):

In [ ]:
energy = Table().with_columns([
    "county",                  ["china","US","UK","Japan","Germany"  ],
    "pop", [15, 20,30,40,60],
    "epp",     [20,50,60,35,15     ]
    ])

In [ ]:
energy

In [47]:
energy = Table().with_columns([
    "county",                  ["china","US","UK","Japan","Germany"  ],
    "pop", [15, 20,30,40,60],
    "epp",     [20,50,60,35,15     ]
    ])

In [48]:
energy = Table().with_columns([
    "county",                  ["china","US","UK","Japan","Germany"  ],
    "pop", [15, 20,30,40,60],
    "epp",     [20,50,60,35,15     ]
    ])

In [ ]:
energy

In [ ]:
energy.column("pop")*energy.column("epp")/sum(energy.column("epp"))

In [ ]:
sum(energy.column("epp"))

In [ ]:
energy.column("pop")*energy.column("epp")

In [ ]:
np.average(energy.column("pop")*energy.column("epp")/sum(energy.column("epp")))

In [49]:
people = Table().with_columns([
    "name",                  ["Russia","US","UK","Japan","Germany"  ],
    "age", [15, 20,30,16,60],
    "epp",     [20,50,60,35,15     ]
    ])

In [56]:
def millenial(name):
    if (16 <= people.where(people.column("name") == name) <= 36):
        return True
    else:
        return False

In [54]:
millenial('US')

TypeError: column() missing 1 required positional argument: 'index_or_label'

In [55]:
people

name    | age  | epp
Russia  | 15   | 20
US      | 20   | 50
UK      | 30   | 60
Japan   | 16   | 35
Germany | 60   | 15

In [58]:
15 <= people.where(people.column("name") == 'Russia') <=35

TypeError: unorderable types: int() <= Table()

In [62]:
def millenial(name):
    if (16<= people.where(people.column("age") <=36) == people.where(people.column("name") == name)):
        return True
    else:
        return False

In [60]:
millenial("Russia")

TypeError: unorderable types: int() <= Table()

In [63]:
def millenial(name):
    if (16<= people.where(people.column("age") <=36) == people.where(people.column("name") == name)):
        return True
    else:
        return False

In [64]:
millenial("Russia")

TypeError: unorderable types: int() <= Table()

In [68]:
def millenial(name):
    if (np.logical_and(people.where('name', name).column("age") >=16, \
                       people.where('name', name).column("age") <= 36)):
        return True
    else:
        return False

In [69]:
millenial("Russia")

False

In [70]:
millenial("US")

True

In [72]:
people.with_column(["is_millenial", millenial(people.column("name"))])

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [73]:
millenial(people.column("name"))

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [74]:
people.column("name")

array(['Russia', 'US', 'UK', 'Japan', 'Germany'],
      dtype='<U7')

In [75]:
list(millenial(people.column("name")))

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [76]:
millenial.any(people.column("name"))

AttributeError: 'function' object has no attribute 'any'

In [81]:
people.with_column("is_millenial", people.apply(millenial, "name"))

name    | age  | epp  | is_millenial
Russia  | 15   | 20   | False
US      | 20   | 50   | True
UK      | 30   | 60   | True
Japan   | 16   | 35   | True
Germany | 60   | 15   | False

In [82]:
millenial2 = people.with_column("is_millenial", people.apply(millenial, "name"))

In [84]:
a = np.count_nonzero(np.logical_and(people.where('name').column("age") >=16, people.where('name').column("age") <= 36))

In [85]:
a

3

In [86]:
email = Table().with_columns([
    "Item",                  [5.2    , 3.0     , 42     , -1.0    , 7.5    ],
    "text", ["first", "second", "HI", "Deee", "fifth"],
    "Index (in Python)",     [0      , 1       , 2      , 3       , 4      ]
    ])

In [87]:
email

Item | text   | Index (in Python)
5.2  | first  | 0
3    | second | 1
42   | HI     | 2
-1   | Deee   | 3
7.5  | fifth  | 4

In [88]:
for email_text in email.column("text"):
   if email_text == email_text.upper():
    print("Potential spam email: " + email_text)

Potential spam email: HI

In [89]:
sum(energy.column("pop")*energy.column("epp")/sum(energy.column("epp")))

30.0

In [90]:
people

name    | age  | epp
Russia  | 15   | 20
US      | 20   | 50
UK      | 30   | 60
Japan   | 16   | 35
Germany | 60   | 15

In [91]:
len(people.column('name'))

5

In [92]:
people.num_rows

5

In [93]:
people.where(people.column("age") < 50)

name   | age  | epp
Russia | 15   | 20
US     | 20   | 50
UK     | 30   | 60
Japan  | 16   | 35

In [94]:
millenials2 = people.where(people.column("age") < 50)
milenialss = millenials2.group("age")

In [95]:
milenialss

age  | name sum | epp sum
15   |          | 20
16   |          | 35
20   |          | 50
30   |          | 60

In [97]:
millenials2

name   | age  | epp
Russia | 15   | 20
US     | 20   | 50
UK     | 30   | 60
Japan  | 16   | 35

In [98]:
millenials2 = people.where(people.column("age") < 50)
milenialss = millenials2.group("age")

In [99]:
milenialss

age  | count
15   | 1
16   | 1
20   | 1
30   | 1

In [101]:
millenial1

name    | age  | epp  | is_millenial
Russia  | 15   | 20   | False
US      | 20   | 50   | True
UK      | 30   | 60   | True
Japan   | 16   | 35   | True
Germany | 60   | 15   | False

In [102]:
millenials2 = millenial1.where(millenial1.column("age") < 50)
milenialss = millenials2.group("is_millenial")

In [103]:
milenialss

is_millenial | count
False        | 1
True         | 3

In [104]:
aid_new  = millenial1.select(["name", "epp"]).group("name",sum)

In [105]:
aid_new

name    | epp sum
Germany | 15
Japan   | 35
Russia  | 20
UK      | 60
US      | 50

In [106]:
millenial1

name    | age  | epp  | is_millenial
Russia  | 15   | 20   | False
US      | 20   | 50   | True
UK      | 30   | 60   | True
Japan   | 16   | 35   | True
Germany | 60   | 15   | False