In [1]:
# Run this cell, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines load the tests.
from client.api.assignment import load_assignment 
lab03 = load_assignment('lab03.ok')

=====================================================================
Assignment: Lab 3
OK, version v1.5.1
=====================================================================

In [2]:
imdb = Table.read_table('imdb_ratings.csv')
imdb

Votes  | Rank | Title                        | Year | Decade
88355  | 8.4  | M (1931)                     | 1931 | 1930
132823 | 8.3  | Singin' in the Rain (1952)   | 1952 | 1950
74178  | 8.3  | All About Eve (1950)         | 1950 | 1950
635139 | 8.6  | Léon (1994)                  | 1994 | 1990
145514 | 8.2  | The Elephant Man (1980)      | 1980 | 1980
425461 | 8.3  | Full Metal Jacket (1987)     | 1987 | 1980
441174 | 8.1  | Gone Girl (2014)             | 2014 | 2010
850601 | 8.3  | Batman Begins (2005)         | 2005 | 2000
37664  | 8.2  | Judgment at Nuremberg (1961) | 1961 | 1960
46987  | 8    | Relatos salvajes (2014)      | 2014 | 2010
... (240 rows omitted)

In [4]:
imdb.take([1, 3 ,6])

Votes  | Rank | Title                      | Year | Decade
132823 | 8.3  | Singin' in the Rain (1952) | 1952 | 1950
635139 | 8.6  | Léon (1994)                | 1994 | 1990
441174 | 8.1  | Gone Girl (2014)           | 2014 | 2010

In [5]:
imdb.take(np.arange(0, imdb.num_rows, 50))

Votes  | Rank | Title                           | Year | Decade
88355  | 8.4  | M (1931)                        | 1931 | 1930
86715  | 8.3  | Double Indemnity (1944)         | 1944 | 1940
369141 | 8.1  | The Grand Budapest Hotel (2014) | 2014 | 2010
596880 | 8.1  | Sin City (2005)                 | 2005 | 2000
210647 | 8.2  | Raging Bull (1980)              | 1980 | 1980

In [6]:
census = Table.read_table(census_url)

NameError: name 'census_url' is not defined