In [2]:
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [5]:
two_dice = Table(['First', 'Second', 'Chance'])
for first in np.arange(1, 7):
    for second in np.arange(1, 7):
        two_dice.append([first, second, 1/36])
two_dice.set_format('Chance', PercentFormatter(1))

First | Second | Chance
1     | 1      | 2.8%
1     | 2      | 2.8%
1     | 3      | 2.8%
1     | 4      | 2.8%
1     | 5      | 2.8%
1     | 6      | 2.8%
2     | 1      | 2.8%
2     | 2      | 2.8%
2     | 3      | 2.8%
2     | 4      | 2.8%
... (26 rows omitted)

In [6]:
two_dice_sums = Table(['Sum', 'Chance']).with_rows([
        [ 2, 1/36], [ 3, 2/36], [ 4, 3/36], [5, 4/36], [6, 5/36], [7, 6/36],
        [12, 1/36], [11, 2/36], [10, 3/36], [9, 4/36], [8, 5/36],
    ]).sort(0)
two_dice_sums.set_format('Chance', PercentFormatter(1))

Sum  | Chance
2    | 2.8%
3    | 5.6%
4    | 8.3%
5    | 11.1%
6    | 13.9%
7    | 16.7%
8    | 13.9%
9    | 11.1%
10   | 8.3%
11   | 5.6%
... (1 rows omitted)

In [7]:
dice_sums = two_dice.column('First') + two_dice.column('Second')
sum_of_5 = two_dice.where(dice_sums == 5)
sum_of_5

First | Second | Chance
1     | 4      | 2.8%
2     | 3      | 2.8%
3     | 2      | 2.8%
4     | 1      | 2.8%

In [8]:
sum(sum_of_5.column('Chance'))

0.1111111111111111

In [9]:
def P(event):
    return sum(event.column('Chance'))

P(sum_of_5)

0.1111111111111111

In [12]:
with_sums = two_dice.with_column('Sum', dice_sums)

In [11]:
with_sums.group('Sum')

Sum  | count
2    | 1
3    | 2
4    | 3
5    | 4
6    | 5
7    | 6
8    | 5
9    | 4
10   | 3
11   | 2
... (1 rows omitted)

In [16]:
grouped = with_sums.select(['Sum', 'Chance']).group('Sum', sum)
grouped.relabeled(1, 'Chance').set_format('Chance', PercentFormatter(1))

Sum  | Chance sum
2    | 0.0277778
3    | 0.0555556
4    | 0.0833333
5    | 0.111111
6    | 0.138889
7    | 0.166667
8    | 0.138889
9    | 0.111111
10   | 0.0833333
11   | 0.0555556
... (1 rows omitted)

In [17]:
P(with_sums.where('Sum', 8))

0.1388888888888889

In [18]:
with_sums.where('Sum', 8)

First | Second | Chance | Sum
2     | 6      | 2.8%   | 8
3     | 5      | 2.8%   | 8
4     | 4      | 2.8%   | 8
5     | 3      | 2.8%   | 8
6     | 2      | 2.8%   | 8

In [19]:
birth = Table.read_table('birth_time.csv').select(['Time', 'Hour', 'Chance'])
birth.set_format('Chance', PercentFormatter(1)).show()

OSError: File b'birth_time.csv' does not exist

In [ ]:
1+1